@charset "utf-8";

/* 폰트 */

html {
    font-family: '나눔 고딕', 'NanumGothic', '돋움', 'Dotum', sans-serif;
}


/* reset */

body, div, h1, h2, h3, h4, h5, p, a,
address, ul, ol, li, dl, dt, dd, article,
footer, header, nav, section, input, button,
input[type="checkbox"] {
    margin:0; 
    padding:0; 
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    color:#000;
}

body {
    line-height: 1;
}

ul, ol {
    list-style:none;
}   

a {
    text-decoration:none;
}

a:active, a:hover {
    text-decoration: none;
    color: #000;
}

address {
    font-style:normal;
}


/* blind */
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
} 

/* 최소 너비값 지정 */

body{
    min-width:1080px;
}



/* 헤더 */

.title_box {
    background: #000;
}

.title_area {
    width:1000px;
    height:120px;
    margin: 0 auto;
    line-height: 120px;
    color:#fff;
    font-size:40px;
}


/* 메뉴 */


.nav_area {
    display:flex;
    width: 1000px;
    margin:0 auto;
    padding:40px;
}

.nav_section {
    width: calc(100% /3);
    height:33px;
    border: 1px solid #d1d1d1;
    line-height:33px;
}

.nav_section + .nav_section {
    margin-left:14px;
}

.nav_text {
    display:block;
    color:#000;
    font-size:16px;
    text-align:center;
}

.nav_text:hover{
    color: #454545;
    font-weight: bold;
}



/* 바디 */

.body_box {
    width:1000px;
    margin:0 auto;
}


.body_title {
    font-size:20px;
    color:#000;
    width: 1000px;
    margin:0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #454545;
}


.content_box {
    margin-top:30px;
}


.content_title {
    width:1000px;
    height:46px;
    border:1px solid #d1d1d1;
    background: #f7f7f7;
    line-height:46px;
    font-size:16px;
    color:#333;
    text-indent:15px;   
    box-sizing:border-box;
}

.content_area {
    width:1000px;
    border:1px solid #d1d1d1;
    box-sizing:border-box;
    padding:20px 30px;
    border-top: 0;
}

.content_subtitle {
    font-size: 14px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* table */

.content_part{
    margin-bottom: 10px;
}

.table_childsize {
    margin-bottom: 50px;
}

table {
    table-layout:fixed;
    width: 100%;
    font-size: 12px;
    color: #555;
    box-sizing:border-box;
    border-collapse: collapse;
}

.table_childsize th, td,
.table_refundsearch th, td  {
    height: 30px;
}

.table_head {
    background: #fbfbfb;
}

/* table_childsize */

.table_childsize {
    border: 1px solid #e4e4e4;
    border-collapse:collapse;
}

.table_childsize th,
.table_childsize td{
    border: 1px solid #e4e4e4;
    height: 30px;
    text-align:center;
} 


.table_childsize .table_head tr th {
    border-bottom: 0;
}

/* table_refundsearch */

.table_refundsearch th, 
.table_refundsearch td {
    font-weight: normal;
}

.table_refundsearch .table_head {
    border-top: 2px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
}

.table_refundsearch tfoot {
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
}

.table_refundsearch td{
    text-align: right;
}

.table_tfoot th,
.table_tfoot td {
    font-weight: bold;
}

.price_text {
    margin-right: 60px;
}

/*form*/ 

.join_box {
    margin: 0 auto;
    border: 1px solid #e4e4e4;
    background-color: #fbfbfb;
    padding: 20px;
}


.join_title {
    font-size: 14px;
    margin: 20px 0 10px 0;
}

.inp_box {
    width: 100%;
    border: 1px solid #e4e4e4;
    padding: 8px;
    box-sizing: border-box;
    background: #fff;
}

.int {
    width: 100%;
    height: 30px;
    border: 0 none;
    font-size: 12px;
    padding: 0;
    text-indent: 10px;
}

.bir_wrap {
    display:flex;
} 

.bir_info + .bir_info {
    margin-left: 10px;
}

.bir_info {
    width: calc(100% / 3);
    height: 30px;
}

.bir_info select{
    text-indent: 10px;
}

/* .bir_wrap::after {
    display: block;
    content:'';
    clear:both;
}  */


.bir {
    width: 100%;
    height: 100%;
    border: 1px solid #e4e4e4;
    font-size: 12px;
}

.rad_box {
    display: flex;
    font-size: 12px;
    width: 100%;
}

.rad_area + .rad_area {
    margin-left: 80px;
}

.rad_box input[type="radio"],
.hobby_box input[type="checkbox"]{
    position: relative;
    top: 1.5px;
}

.confirm_box {
    display: flex;
    margin-bottom: 3px;
}

.confirm_area {
    width: calc(100% * 4/5);
}

.phn_check {
    width: 100%;
}

.btn_check {
    border: 1px solid #08a600;
    background: #4ec53d;
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
    box-sizing: border-box;
    width: calc(100% * 1/5);
}

.greeting_area {
    margin-bottom: 5px;
    border: 1px solid #e4e4e4;
    padding: 8px;
    background:#fff;
    box-sizing: border-box;
}

.greeting_text {
    width: 100%;
    height: 100%;
    border: 0 none;
    resize: none;
    /* input의 border을 없애고, 밖에 있는 보더로 표현하고 싶다. 이거 이거 어떻게 처리하냐.,,.,.,.*/
}

.hobby_box {
    display: flex;
    font-size: 12px;
}

.hobby_area + .hobby_area{
    margin-left: 50px;
}

.hobby_box input + input {
    margin-left: 50px;
}

.btn_join{
    border: 1px solid #08a600;
    background: #4ec53d;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 50px;
    margin: 0 auto;

}

.chec_point {
    margin: 0 auto;
    margin-left: 50px;
}


/* list */



/* dictinary */
.content_elements {
    border: 1px solid #e4e4e4;
    padding: 30px 20px;
    margin: 10px 0px;
}

.dic_title {
    margin: 0 auto;
    font-size: 32px;
    text-align: center;  
    margin-bottom: 30px;
}

.dic_box {
    text-align: left;
    margin-top: 20px;
}

.dic_words {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}
.dic_source {
    font-size: 12px;
    color: #559bfa;
    margin-left: 10px;
}

.dic_dftn {
    font-size:12px;
    line-height: 18px;
}


/* 실시간 검색어 */



.search_box {
    height:30px;
    line-height: 30px;
}

.search_rank {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #e4e4e4;
    font-size: 10px;
    color: #666;
    text-align: center;
    line-height: 17px;
    
}

.search_word {
    margin-left: 14px;
}

/* cookie_list */

.cookie_box {
    list-style-type:initial;
}

.cookie_text {
    font-size: 12px;
}

.text_point {
    color: #559bfa;
    text-decoration: underline;
}

.none_under {
    text-decoration: none;
}
.red_point {
    color: #ec5336;
}

.livesearch_elements {
    border: 1px solid #e4e4e4;
    padding: 30px 20px;
    margin: 10px 0px;
    width: 200px;
}

/* news */

.news_pic {
    float: left;
    margin-right: 20px;
}

.news_inner::after {
    content: '';
    clear:both;
    display: block;
}

.news_inner {
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
}

.news_text {
    padding: 0 10px;
}

.news_head {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    color: #00c;
    line-height: 18px;
}

.news_summary {
    font-size: 12px;
    line-height: 20px;
}



/* 웹툰*/
.webtoon_box {
    width: 936px;
    margin: 0 auto;
}

.webtoon_row {
    float: left;
    width: 285px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.webtoon_pic, .webtoon_text {
    margin: 10px;
}

.webtoon_content_elements {
    width: 936px;
    margin: 0 auto;
    border: 1px solid #e4e4e4;
}

.webtoon_box::after {
    display: block;
    content: '';
    clear: both;   
}

.webtoon_lin {
    display: block;
    position: absolute;
    width: 285px;
    height: 175px;
}


.webtoon_type_smart, .webtoon_type_cut {
    font-size: 10px;
    color: #fff;
}

.webtoon_type_smart {
    border: 1px solid #df4e28;
    background: #ec5336;
}

.webtoon_type_cut {
    border: 1px solid #71b036;
    background: #80c83d;
}

/* footer */

.footer_box {
    border-top: 1px solid #d1d1d1;
    text-align: center;
    font-size:12px;
    padding: 30px;
    margin-top: 40px;
    text-align:center;
    line-height: 1.5em;
}



.address_text{
    color:#999;
    margin-bottom: 10px; 
}




